<div class="row d-flex justify-content-center">
    <div class="card col-lg-3 col-md-4" *ngFor="let product of productArray">
        <img class="card-img-top" src="{{product.image}}" style="width: 300px; height: 200px;" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <h4>RS.{{product.price}}</h4>
            <a class="nav-link btn btn-outline-success" 
    [routerLink]="['/payment']"
    [queryParams]="{name: product.name,description: product.description,price: product.price }">Buy Now</a>
   
        </div>
    </div>
</div>