<div class="row d-flex justify-content-center">
  <div class="col-md-6" style="background-color: white;">
<div class="card text-center">
    <div class="card-header">
      Purchase Confirmation
    </div>
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
      <h6 class="card-text">Rs.{{price}}</h6>
      <a class="nav-link btn btn-outline-success" 
    [routerLink]="['/products/all']">Shop Again</a>
    </div>
    <div class="card-footer text-muted">
        thank you!! visit again!!
    </div>
  </div>
  </div></div>