<div>
   <img class="image" [src]="Bgimage">
   <div class="centered" style="color: rgb(0, 170, 255);">
      <div class="card text-center opacity-25">
         
         <div class="card-body">
           <h5 class="card-title">Welcome to Kitchen Story</h5>
           <p class="card-text">We provides the best quality producs with the discounts</p>
           <a class="nav-link btn btn-outline-success" 
    [routerLink]="['/products/all']">Shop Now</a>
         </div>
       </div>

   </div>
</div>